.nav-bg__container {
    background-image: url('/nav-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.nav-bg__title {
    font-size: 38px;
    color: white;
    border-bottom: 1px solid #D9D9D963;
    padding-bottom: 35px;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.717);
    font-weight: 400;
    text-align: center;
}

.nav-bg__container-block {
    width: 100%;
    padding-left: 0;
    padding-top: 3%;
    padding-bottom: 10%;
}

.nav-bg__list-item {
    font-size: 27px;
    padding: 30px 30px;
    border-bottom: 1px solid #D9D9D963;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 400;
    width: 100%;
    transition: all 0.4s;
    text-align: center;
}

.nav-bg__list-item:hover {
    background-color: white;
    color: black;
    transform: scaleY(1.05);
}

.nav-bg__container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
}

.nav-bg__container--zoomed {
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    .nav-bg__title {
        font-size: 24px;
        padding: 22px 28px;
    }
    
    .nav-bg__list-item {
        font-size: 16px;
        padding: 18px 25px;
    }
    
    .nav-bg__container-block {
        padding-top: 10%;
    }

    .nav-bg__container {
        height: 95vh;
    }
}

@media (max-width: 480px) {
    .nav-bg__title {
        font-size: 20px;
        padding: 20px 25px;
    }
    
    .nav-bg__list-item {
        font-size: 15px;
        padding: 16px 22px;
    }
    
    .nav-bg__container-block {
        padding-top: 10%;
    }
}